@model IEnumerable<AsyncInn.Models.HotelRoom>;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
@{
    
}
<h1>HOTEL ROOMS</h1>


<div class="col s12">
    <div class="row">
        <div class="input-field col s7">
            <a asp-action="Create"> Create</a>
        </div>
        <div class="input-field col s4">
            <form asp-controller="HotelRoom" asp-action="Index">
                <p>
                    Search: <input type="text" name="SearchString" />
                    <input type="submit" value="Filter" />
                </p>
            </form>
        </div>
        <div class="input-field col s1"></div>
    </div>
</div>



<table>
    <thead>
        <tr>
            <th>Hotel</th>
            <th>Room Number</th>
            <th>Layout</th>
            <th>Rate</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var hr in Model)
        {
        <tr>
            <td>@hr.Hotel.Name</td>

            <td>@hr.RoomNumber</td>
            <td>@hr.Room.Layout</td>
            <td>@hr.Rate</td>

            <td>
                
               
                
                <a class="btn waves-effect waves-light">
                    @(Html.ActionLink("Edit", "Edit", new { hotel = hr.HotelID, room = hr.RoomID }))
                    <i class="material-icons">edit</i>
                </a>
            
                    


            </td>
            <td>
                <a class="btn waves-effect waves-light">
                    @(Html.ActionLink("Delete", "Delete", new { hotel = hr.HotelID, room = hr.RoomID }))
                    <i class="material-icons">clear</i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>