@model AsyncInn.Models.Hotel;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<h1>HOTELS</h1>

<a href="Hotel/Create"> Create</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Phone Number</th>

        </tr>
    </thead>

    <tbody>
        @foreach (Hotel hotel in Model)
        {
            <tr>
                <td>@hotel.ID</td>
                <td>@hotel.Name</td>
                <td>@hotel.City</td>
                <td>@hotel.Phone</td>
                <td>
                    <button class="btn waves-effect waves-light" actions="Edit" value="@hotel.ID">
                        Edit
                        <i class="material-icons">edit</i>
                    </button>
                </td>
                <td>
                    <button class="btn waves-effect waves-light" asp-action="Delete" asp-route-id="@hotel.ID">
                        Delete
                        <i class="material-icons">clear</i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>